---
import { Image } from "astro:assets";
import noResultsImage from "@/images/noresults.webp";
import MainLayout from "@/layouts/MainLayout.astro";
import ArticleCard from "@/components/ArticleCard.astro";
import SearchForm from "@/components/SearchForm.astro";
import Button from "@/components/Button.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const query: string | null = Astro.url.searchParams.get("query");

const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");

//Filter articles based on query

const searchResults = allBlogArticles.filter((article) => {
  const titleMatch: boolean = article.data.title
    .toLocaleLowerCase()
    .includes(query!.toLocaleLowerCase());

  const bodyMatch: boolean = article.body.toLocaleLowerCase().includes(query!.toLocaleLowerCase());

  const slugMatch: boolean = article.slug.toLocaleLowerCase().includes(query!.toLocaleLowerCase());

  return titleMatch || bodyMatch || slugMatch;
});
---

<MainLayout title="Search Results">
  <Button text="Regresar a los artículos" route="/articles" />
  <SearchForm />
  <br />
  <h1 class="text-2xl pb-3 mt-6">Resultados para <strong>{query}</strong></h1>
  {
    searchResults.length > 0 ? (
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {searchResults.map((article) => (
          <ArticleCard article={article} />
        ))}
      </div>
    ) : (
      <div class="text-center mt-10">
        <Image
          src={noResultsImage}
          alt="imagen de perrito con pistola"
          class="mx-auto rounded-xl"
          width={200}
          height={200}
        />
        <p class="mt-4 text-lg">
          No se encontraron resultados para <strong>"{query}"</strong>.
        </p>
      </div>
    )
  }
</MainLayout>
