---
import MainLayout from "@/layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
import { Image } from "astro:assets";
import errorImage from "@/images/error-404.png";
---

<MainLayout title="404 - Page Not Found">
  <div class="flex flex-col items-center justify-center gap-7">
    <Image
      src={errorImage}
      alt="404 - Page Not Found image"
      class="mt-10"
      height={250}
      width={250}
    />
    <h1 class="text-5xl">Página no encontrada</h1>
    <p class="text-2xl">Lo sentimos, no pudimos encontrar la página que estabas buscando</p>
    <Button text="Regresar al Inicio" route="/" bg404 />
  </div>
</MainLayout>
