---
import MainLayout from "@/layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
---

<MainLayout title="Acerca del reto">
  <Button text="Regresar al Inicio" route="/" />
  <h1 class="text-2xl">pagina explicativa</h1>
</MainLayout>
