---
import MainLayout from "@/layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
import { CURRENT_DAY } from "@/constants";
---

<MainLayout title="Acerca del reto">
  <Button text="Regresar al Inicio" route="/" />
  <div class="max-w-3xl mx-auto mt-10 p-8 bg-gray-100 rounded-lg shadow-md">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-4">
      Reto de 111 Días de Programación
    </h2>

    <p class="text-center text-gray-600 mb-8">
      Me he propuesto mejorar mis habilidades de programación durante 111 días consecutivos. Aquí
      comparto mi progreso y aprendizajes.
    </p>

    <div class="bg-white p-6 rounded-lg shadow-sm mb-8">
      <h3 class="text-xl font-semibold mb-4 text-gray-700">Objetivos del Reto:</h3>
      <ul
        class="min-[450px]:list-disc max-[450px]:text-sm text-base list-inside space-y-5 min-[450px]:space-y-3 text-gray-600">
        <li>Dominar Tecnologías Esenciales</li>
        <li>Aplicar Principios de Código Limpio</li>
        <li>Desarrollar Habilidades en Testing</li>
        <li>Optimización y Buenas Prácticas</li>
        <li>Crear un Proyecto Final con todo lo aprendido</li>
      </ul>
    </div>

    <div class="flex justify-center items-center space-x-4 mb-8">
      <span class="text-5xl font-bold text-indigo-500">{CURRENT_DAY}</span>
      <span class="text-2xl text-gray-600">/ 111 días</span>
    </div>

    <button
      id="compartir"
      class="flex items-center gap-2 mx-auto px-6 py-3 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-600 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
      <span>Compartir</span>
      <img src="/icons/share.svg" width="24" height="24" alt="icono de compartir" />
    </button>
  </div>
</MainLayout>
