---
import MainLayout from "@/layouts/MainLayout.astro";
import SearchForm from "@/components/SearchForm.astro";
import ArticleCard from "@/components/ArticleCard.astro";
import MostRecentArticle from "@/components/MostRecentArticle.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "@/constants";

import { getCollection, type CollectionEntry } from "astro:content";

const allBlogArticles: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<"blog"> = allBlogArticles[0];
const otherArticles: CollectionEntry<"blog">[] = allBlogArticles.slice(1);
---

<MainLayout title="Articulos">
  <!-- Top Grid -->
  <div class="grid grid-cols-1 gap-5 min-[850px]:grid-cols-2">
    <div class="flex flex-col justify-between gap-7 pt-10">
      <h1 class="text-3xl min-[550px]:text-5xl lg:text-6xl font-bold leading-tight text-balance">
        Artículos y Guías para Amantes de la Tecnología
      </h1>

      <SearchForm />
    </div>
    <MostRecentArticle article={mostRecentArticle} />
  </div>

  <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      otherArticles
        .slice(0, HOMEPAGE_ARTICLE_LIMIT)
        .map((article) => <ArticleCard article={article} />)
    }
  </div>
</MainLayout>
