---
const { text, route } = Astro.props;

interface Props {
  text: string;
  route: string;
}
---

<a
  href={route}
  class="flex items-center bg-gray-100 py-2 px-4 mb-6 rounded-lg hover:bg-indigo-500 hover:text-white w-max">
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
    <path
      fill="currentColor"
      d="m4.431 12.822l13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645"
    ></path>
  </svg>
  <span class="ml-2">{text}</span>
</a>
