---
import { getCollection, type CollectionEntry } from "astro:content";

const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");
const tags: string[] = allBlogArticles.flatMap((article) => article.data.tags);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer class="bg-indigo-900 text-white">
  <div class="container mx-auto mt-10 max-w-screen-xl px-8 py-10">
    <div class="grid grid-cols-1 gap-x-10 gap-y-7 sm:grid-cols-2 lg:grid-cols-4">
      <div>
        <h3 class="text-3xl sm:text-xl font-semibold mb-4">
          RetoDe<span class="">111</span>Días
        </h3>
        <p class="text-white text-sm md:text-base text-balance">
          Únete a mi reto de 111 días aprendiendo y compartiendo conocimientos sobre desarrollo web
          y tecnología.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-4">Categorías</h3>
        <ul class="text-white text-sm">
          {
            uniqueTags.map((tag) => (
              <li class="mb-2">
                <a class="capitalize" href={"/articles/tag/" + tag}>
                  #{tag}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-4">Contacto</h3>
        <ul class="text-white text-sm">
          <li>
            <a href="mailto:zKu9A@example.com">Email</a>
          </li>
          <li>
            <a href="https://github.com/Casadjes" target="_blank">GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/example" target="_blank">Intagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
