---
import { getCollection, type CollectionEntry } from "astro:content";
import FooterListItem from "./FooterListItem.astro";
type TagsCount = {
  [key: string]: number;
};
const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");
const tags: string[] = allBlogArticles.flatMap((article) => article.data.tags);

const tagsCount: TagsCount = tags.reduce((acc: TagsCount, tag: string) => {
  acc[tag] = (acc[tag] || 0) + 1;
  return acc;
}, {} as TagsCount);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer class="w-full h-auto mt-10 bg-indigo-900 text-white">
  <section class="mx-auto max-xl:px-7 py-10 max-w-screen-xl">
    <div class="grid grid-cols-1 gap-x-10 gap-y-7 sm:grid-cols-2 lg:grid-cols-4">
      <div>
        <h3 class="text-3xl sm:text-xl font-semibold mb-4">
          RetoDe<span class="">111</span>Días
        </h3>
        <p class="text-white text-sm md:text-base text-balance">
          Únete a mi reto de 111 días aprendiendo y compartiendo conocimientos sobre desarrollo web
          y tecnología.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-4">Categorías</h3>
        <ul class="flex flex-wrap gap-x-2 gap-y-5 text-sm">
          {
            uniqueTags.map((tag) => (
              <li class="w-max ">
                <a
                  href={`/articles/tag/${tag}`}
                  class="px-4 py-2 bg-gray-900/80 hover:bg-gray-900/60 rounded-md transition-colors capitalize">
                  &#35;{tag} <span class="text-blue-300">(&nbsp;{tagsCount[tag]}&nbsp;)</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-4">Contacto</h3>
        <ul class="flex flex-col gap-2 text-sm">
          <FooterListItem
            href="https://www.linkedin.com/in/jesus-e-casado-67a725279/"
            text="LinkedIn"
            imagePath="/images/icons/linkedIn.svg"
          />
          <FooterListItem
            href="mailto:esmilcasado901@gmail.com"
            text="Email"
            imagePath="/images/icons/email.svg"
          />
          <FooterListItem
            href="https://github.com/Casadjes"
            text="Github"
            imagePath="/images/icons/github.svg"
          />
          <FooterListItem
            href="https://www.instagram.com/casadjes_901/?hl=es"
            text="Instagram"
            imagePath="/images/icons/instagram.svg"
          />
        </ul>
      </div>
    </div>
  </section>
</footer>
