<nav class="bg-gray-900 text-white">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >RetoDe<span class="text-indigo-400">111</span>Días</span
      >
    </a>
    <div>
      <ul
        class="[&>li>a]:text-base font-medium flex flex-col mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a href="/" class="block hover:text-indigo-400" aria-current="page">Inicio</a>
        </li>
        <li>
          <a href="/articles" class="block hover:text-indigo-400">Articulos</a>
        </li>
        <li>
          <a href="/about" class="block hover:text-indigo-400">Acerca del reto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
