<div class="w-full flex justify-end">
  <button
    class="flex gap-1 items-end cursor-pointer border-b-2 border-b-indigo-400 text-indigo-400 text-lg font-semibold"
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    aria-label="Volver al principio del artículo">
    <span> Volver al Inicio del Articulo</span>
    <svg
      class="animate-bounce"
      xmlns="http://www.w3.org/2000/svg"
      width="1.5em"
      height="1.5em"
      viewBox="0 0 256 256">
      <path
        fill="currentColor"
        d="M207.39 115.06A8 8 0 0 1 200 120h-64v96a8 8 0 0 1-16 0v-96H56a8 8 0 0 1-5.66-13.66l72-72a8 8 0 0 1 11.32 0l72 72a8 8 0 0 1 1.73 8.72"
      ></path>
    </svg>
  </button>
</div>
